body{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    background-color: #e7e9eb;
}
.authenticationPages{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
}
h2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #282a35;
    margin-bottom: 20px;
}
.labelField{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #4A5568;
    margin-top: 10px;
}
.inputField{
    margin-top: 10px; 
    display: block; 
    width: 90%; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    border: 1px solid #D1D5DB; 
    border-radius: 6px; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
    font-size: 16px;
}
.inputField:focus{
    outline: none; 
    border-color: #04aa6d;
    box-shadow: 0 0 0 3px rgba(2, 100, 64, 0.05);
}
.submitField{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 16px auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #04aa6d;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}
.submitField:hover{
    background-color: #026440;
}
.submitField:focus{
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #04aa6d;
}
.message{
    margin-top: 16px;
    padding: 10px;
    border-radius: 6px;
    font-size: 8px;
    text-align: center;
    display: none;
}