<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My To-Do List</title>
    <link rel="stylesheet" href="/templates/styles/index.css">
</head>
<body>
    <div class="homePage">
        <div class="taskHeading">
            <h2>My Tasks</h2>
            <button id="logoutButton">
                Logout
            </button>
        </div>
        
        <div id="message"></div>

        <div class="taskButton">
            <button id="addTaskButton">
                
                <span>Add New Task</span>
            </button>
        </div>

        <!-- Add Task Form (Initially Hidden) -->
        <div id="addTaskFormContainer">
            <h3>New Task</h3>
            <form id="newTaskForm">
                <div>
                    <label for="newTaskTitle" class="labelField">Title</label>
                    <input type="text" id="newTaskTitle" name="title" required
                           class="inputField">
                </div>
                <div>
                    <label for="newTaskDescription" class="labelField">Description (Optional)</label>
                    <textarea id="newTaskDescription" name="description" rows="3"
                              class="inputField"></textarea>
                </div>
                <div class="buttons">
                    <button type="button" id="cancelAddTask">
                        Cancel
                    </button>
                    <button type="submit"
                            class="submitButton">
                        Save Task
                    </button>
                </div>
            </form>
        </div>

        
        <ul id="taskList">
            
            <li class="tasks">No tasks yet. Add one!</li>
        </ul>
    </div>

    <script>
        
    </script>
</body>
</html>
